@model IEnumerable<CheckListJob.Models.ShiftTask>
<div class="m-5">
    <table class="table table-bordered fs-5">
        <tr class="text-center">
            <th class="col-3">Название</th>
            <th class="col-5">Описание</th>
            <th class="col-1">Время до</th>
            <th class="col-1">Время после</th>
            <th></th>
            <th>Архив</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td align="center">
                    @item.StartTime.ToString(@"hh\:mm")
                </td>
                <td align="center">
                    @item.FinishTime.ToString(@"hh\:mm")
                </td>
                <td class="text-center">
                    @Html.ActionLink("Редактировать", "EditShift", "Shift", new { shiftId = item.Id }, new { @class = "btn btn-primary w-100 m-0" })
                </td>
                <td class="text-center">
                    @if (!item.Status)
                    {

                        <input class="form-check-input" type="checkbox" onclick='document.location.replace("/Shift/DeleteShift?shiftId=@item.Id")' checked />

                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" onclick='document.location.replace("/Shift/DeleteShift?shiftId=@item.Id")' />
                    }
                </td>
            </tr>
        }
    </table>
</div>

